<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simbora">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyApvcMilUCV7QQ26A2RNkKsC7vGYisXgxk" />

        <activity
            android:name=".Main"
            android:label="@string/app_name" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViagemAdd"
            android:label="@string/title_activity_viagem_add"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AutoComplete"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdicionarViagem"
            android:label="@string/title_activity_adicionar_viagem"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>